<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    <testsuite name="ZfcUser Test Suite">
        <directory>./ZfcUserTest</directory>
    </testsuite>
    
    <php>
        <const name="DB_MYSQL_DSN" value="mysql:host=localhost;dbname=zfc_user" />
        <const name="DB_MYSQL_USERNAME" value="root" />
        <const name="DB_MYSQL_PASSWORD" value="" />
        <const name="DB_MYSQL_SCHEMA" value="../data/schema.mysql.sql" />
        
        <const name="DB_SQLITE_DSN" value="sqlite::memory:" />
        <const name="DB_SQLITE_USERNAME" value="" />
        <const name="DB_SQLITE_PASSWORD" value="" />
        <const name="DB_SQLITE_SCHEMA" value="../data/schema.sqlite.sql" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
